!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestStorehouse
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          .navbar-brand= link_to t('company'), root_path
        #navbar.navbar-collapse.collapse
          - if user_signed_in? && current_user.admin?
            %ul.nav.navbar-nav
              %li= link_to t('products.all'), products_manage_index_path
              %li= link_to t('products.new'), new_products_manage_path
          %ul.nav.navbar-nav.navbar-right
            %li
            - if user_signed_in?
              - if current_user.admin?
                %li= link_to t('users.manage.index_button'), users_manage_index_path
              - else
                %li= link_to t('orders.new'), new_orders_manage_path
                %li= link_to t('orders.all'), orders_manage_index_path
              %li= link_to t('sign.out'), destroy_user_session_path, :method => :delete
            -else
              %li= link_to t('sign.in'), new_user_session_path
    = yield
